* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

#header {
  background-color: #e5e5e5;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0.7rem;
}
.section > .container{
    max-width: 1140px;
    margin: 2rem auto;
}
.sectionBody {
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

.mainLogo {
  margin-left: 4rem;
  height: 5rem;
}

.userLogo {
  margin: 0rem 4rem 0rem 0rem;
  height: 3rem;
  /* margin-left: auto; */
}

.searchBar:hover {
  border-radius: 1.6rem;
  border-style: none;
}
.inputBar:hover {
  border-radius: 1.6rem;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.inputBar {
  width: 22rem;
  padding: 1rem;
  border-radius: 1.6rem;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.searchBar {
  display: flex;
  align-items: center;
  
}
.searchIcon {
  height: 3rem;
  margin-left: -3.9rem;
}


.restaurantCard {
  padding: 2rem;
   width: 100%;
   max-width: 300px;
   border: 1px solid transparent ;

 
}
.restaurantCard:hover {
    border: 1px solid #555 ;

}
.foodImage{
    /* width: 30rem;
     */
     max-width: 100%;
    margin-bottom: 2.4rem;
}
.foodCardDetail{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    justify-content: space-between;
}
.cardSection{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.shimmerCard {
  margin-top: 4rem;
  background-image: linear-gradient(to right, #ebebeb calc(50% - 100px), #c5c5c5 50%, #ebebeb calc(50% + 100px));
  background-size:0;
  height: 200px;
  width: 300px;
  position:relative;
  overflow:hidden;
  padding: 5rem;
}
.shimmerCard::before {
  content:"";
  position:absolute;
  top:0;
  right:0;
  width:calc(200% + 100px);
  bottom:0;
  background-image:inherit;
  animation:move 2s linear infinite; 
}
@keyframes move{
  to {
    transform:translateX(calc(50% + 100px));
  }
}

.nav-ul{
  display: flex;
  gap: 2rem;
}
.nav-ul >li {
  list-style: none;
  font-size: 1.6rem;
}